#navbar{
    color:blue;
    background-color: lightgreen;
    border: 4px solid red;
    font-family: Comic Sans Ms;
    font-size: xx-large;
    text-align: center;
    
    }
    
    
    #navbar li {
        display:inline-block;
        padding:20px;
        border:3px solid blue;
        margin: 20px;
        

    }
    
    #navbar li a{
        color: green;
    }
    
#heading{
    background-color: red;
    text-align: center;
    color:orange;
    font-family: comic sans ms;
    border-radius: 50px;
   
}

#body{
    font-size:xx-large;
    background-color: lightblue;
    background-image:url("images/bluebird.jpg");
}
#AboutPage{
   font-family: "Comic Sans MS";
   font-size: x-large;
   text-indent: 70px;
    border: 5px solid lightblue;
    -webkit-border-radius: 50px;
}
#HardwarePage{
    font-family: "Comic Sans MS";
   font-size: x-large;
   text-indent: 70px;
    border: 5px solid lightblue;
    -webkit-border-radius: 50px;
}
#howto{
    font-family: "Comic Sans MS";
   font-size: x-large;
   text-indent: 70px;
    border: 5px solid lightblue;
    -webkit-border-radius: 50px;
}
.container > * {
   display: inline-block;
   vertical-align: top;
}
.images > *{
   display: inline-block;
}

.contain > * {
   display: inline-block;
   vertical-align: top;
}
.hardwarecontainer > * {
    display: inline-block;
    border-radius: 50px
}